@CHARSET "UTF-8";

#center div.sub_section div.song_list_protest {
  position: relative;
  height: inherit;
  display: block;
  width: 50%;
  float: left;
  background-color: white;
  color: black;
  min-height: initial; 
  padding: none; 
}

#center div.sub_section div.song_list_non_protest {
  position: relative;
  height: inherit;
  display: block;
  width: 50%;
  float: right;
  background-color: white;
  color: black;
  min-height: initial; 
  padding: none; 
}

#xml_great_depression, #xml_vietnam, #xml_modern  {
  display: none;
  min-height: initial;
  text-align: left;
  font-size: 11pt;
  background-color: white;
  color: black;
}


/* No right-hand column, so make the center a little larger */
#center {
  background-color: inherit;
  width: 90%;
}

#left a.toc_title {
  background-color: #ADAFB2;
  font-size: 10pt;
  font-weight: bold;
}

#center div, #left p, #right p {
  overflow: auto;
}