@CHARSET "UTF-8";

#protest, #non_protest {
  position: relative;
  height: inherit;
  width: 50%;
  display: block;
  background-color: white;
}

#protest {
  float: left;
}

#non_protest {
  float: right;
}

#non_protest p, #protest p {
  text-align: center;
  margin: 0;
  font-size: 11pt;
  background-color: white;
}

#protest span, #non_protest span {
  color: black;
  background-color: white;
}

.list_title {
  background-color: #6E6E6E;
  padding: 0px 0px 0px 2px;
  margin: 1px;
}

.list_sub_title {
  background-color: #8E8E8E;
  padding: 0px 0px 0px 4px;
  margin: 1px;
}

.song {
  background-color: white;
  min-height: initial;
  color: black;
  width: 100%;
  display: inline-block;
  overflow: auto;
}

.metadata_head {
  height: initial;
  min-height: 200px;
}

.song_metadata {
/* 	position: fixed;
    top: 50%;
    width: 1100px;
    background-color: red;
    text-align: right; */
  background-color: white;
  color: black;
  width: 100%;
  display: inline-block;
  /* overflow: auto;  */
}

.song_metadata img {
  float: right;
  margin: 0px 5px 0px 0px;
}

.song_title {
  margin: 0px;
  font-weight: bold;    
  font-size: medium;	
}

.song_title_label {
  padding-left: 5px;
  font-weight: bold;    
  font-size: large;    
}

.song_info {
  margin: 0px;
  font-weight: bold;	
  font-size: small;
}

.song_info_label {
  padding-left: 8px;
  font-weight: bold; 
  font-size: medium;    
}

div.youtube_video {
  min-height: initial;
  padding: 0px;
  border: 0px;
  text-align: center;	
}

a.lyric_link {
  font-size: x-small;
  padding-left: 8px;
}