@charset "utf-8";

/* CSS Document */

html, body {
  min-width: 920px;
  font-family: Century Gothic, Arial;
  height: 100%;	
  color: white;
  margin: 0 auto;
}

html, body, .wrapper {
  height: 100%;
  min-height: 100%;
}

body > .wrapper { 
  height: auto; 
  min-height: 100%;
}

.menu {
  background-color: #FF3419;
  padding: 10px;
}

.menu_button {
  display: inline-block;
  width: 100px;
  background-color: transparent;
  margin: 0px 10px 0px 10px;
}

.menu_button a {
  background: rgba(0,0,0,0.2);
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.menu_button a.current {
  background: rgba(0,0,0,0.8);	
}

.menu_button a:active {
  color: #FF3419;	
}

.menu_panel {
  position: absolute;
  width: 275px;
  background: rgba(0,0,0,0.8);
  margin-top: 10px;
  display: none;
  z-index: 800;
}

.menu_panel ul {
  margin-top: 1px;	
  margin-bottom: 0;
}

.menu_panel li {
  background-color: inherit;
  background: none;
  padding: 0px 0px 0px 10px;
  list-style: none;
  margin-left: -50px;
}

.menu_panel li a {
  background: none;
  padding: 9px 0px 9px 10px;
  display:block;
}

.menu_panel li a:hover {
  background: rgba(0,0,0,1.0);
}

.menu_panel li a:active {
  color: #4D4D4D;
}

h1 {
  background-color: #DEDEDE;
  color: #4D4D4D;
  padding: 10px 1.5% 10px 0px;
  text-align: right;
  margin:0;
  border-top:1px solid black;
  border-bottom:1px solid black;
}

.content {
  background-color: white;
 /*  min-height: 800px; */
  min-height: inherit;
  height: 100%; /* calc(100% - 1032130px;) */
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  overflow: auto;
  overflow-y: hidden;
}

.content p {
  position: relative;
  color: inherit;
  background-color: inherit;
}

.content div {
  min-height: inherit;
  color: black;
  text-align: left;
  width: 100%;
  display: inline-block;
  overflow: auto;
}

#left {
  background-color: #4E4E4E;
  color: white;
  float: left;
  width: 10%;
}

#right {
  background-color: #4E4E4E;
  color: white;
  float: right;
  width: 10%;
}

#center {
  background-color: inherit;
  width: 80%;
  margin-bottom:-5px;
}

#center p { 
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}

#left p, #right p {
  font-size: 1.0em;
  padding: 16px 10px 16px 10px;
}

#left ul, #right ul {
  overflow: auto;
  background-color: inherit;
  font-size: 8pt;
  list-style: none;
}

#left li, #right li {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: -40px;
  padding-left: 6px;
}

#left li a, #right li a {
  text-decoration: none;
  color: inherit;
}

#center p, #left p, #right p {
  overflow: auto;
}

.footer {
  background-color: #DEDEDE;
  color: #4D4D4D;
  padding: 5px 20px 5px 20px;
  font-size: 10px;
  border-top: 1px solid black;
  height:25px;
}

.footer a {
  display: inline-block;
  background-color: inherit;
  color: inherit;
}

.footer a img {
  margin-right: 30px;
  height: auto;
  width: auto;
  max-width:75px;
}

#home {
  padding: 11px 70px 11px 10px;
}

#about {
  padding: 11px 69px 11px 10px
}

#lyrics {
  padding: 11px 73px 11px 10px
}

#data {
  padding: 11px 79px 11px 10px
}

#analysis {
  padding: 11px 52px 11px 10px
}

#conclusions {
  padding: 11px 23px 11px 10px
}

#resources {
  padding: 11px 60px 11px 10px
}

.tab {
  margin-top: -1px;
  border-top: 1px solid black;
  min-height: 0px !important;
}

.tabHeader {
  background-color: #4E4E4E;
  color: white;
  display: block;
  width: 20%;
  margin-left: 78.5%;
  padding-right: 1.5%;
  font-size: 16pt;
  border-bottom-left-radius: 20px;
}